@media screen and (max-width: 700px) {
  .main {
    width: 60vw;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
  }
}
